.footer{
    background-color: black;
    margin-top: 70vh;
    padding: 50px 0 20px;
}

.footer-link{
    margin-left: 1vh;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}