#root {
  text-align: center;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 0%) 0%,
    hsl(240, 100%, 5%) 23%,
    hsl(239deg 100% 5%) 40%,
    hsl(239deg 100% 5%) 49%,
    hsl(240deg 100% 5%) 50%,
    hsl(0deg 0% 0%) 65%
  );
}

/** Body Styles **/

/* Section styles */
.section-title {
  background: rgb(44,44,44);
  background: -moz-linear-gradient(0deg, #2c2c2c 0%, #959595 63%);
  background: -webkit-linear-gradient(0deg, rgba(44,44,44,1) 0%, rgba(149,149,149,1) 63%);
  background: linear-gradient(0deg, rgba(44,44,44,1) 0%, rgba(149,149,149,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c2c2c",endColorstr="#959595",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Project styles */

#projects {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin-top: 10vh;
  margin-bottom: 0;

}
/** Card Styles **/


/* #card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8.2vh;
  padding: 0%;
  margin: 15vh auto;
} */

/* .MuiCard-root:nth-of-type(3n+0){
  margin-right: auto;
}
*/

.MuiCard-root {
  margin: 10vh auto;
  width: 100vh;
  height: 60vh;
  overflow: visible;
}

.hidden-card{
  display: block;
  opacity: 0;
}

.slide-card{
  opacity: 1;
  position: absolute;
  right: 200vh;
}

/* .visible-card{
  right: 260vh;
 }

 .visible-card:nth-of-type(2n){
  top: 200vh;
  right: 260vh;
 } */

.MuiCard-root:nth-of-type(2n){
  top: 200vh;
  right: 260vh;
} 

/* Responsive styles */
@media (max-width: 1200px) {
  #name {
      font-size: 8vh;
  }
  #sub-title {font-size: 2.5rem; 
 }
}

@media (max-width: 900px) {
  #card-container {
    display: block;
    margin-top: 5vh;
  }
  .MuiCard-root {
    width: 100vh;
    height: 81vh;
    margin: auto;
    margin-bottom: 5vh;
  }
}

@media (max-width: 600px) {
  
  #card-container {
    display: block;
    margin-top: 5vh;
  }
  .MuiCard-root {
    width: 40vh;
    height: 45vh;
    margin: auto;
    margin-bottom: 5vh;
  }
}